@charset "UTF-8";
/* CSS Document */


.login-form {
	text-align: center;
	width: 80%;
	margin: 60px auto 0;
}

.login-input {
	width: 100%;
	margin: 0 auto;
	outline: none;
	padding-top: 24px;
	padding-bottom: none;
	border-left:none;
	border-right:none;
	border-top:none;
}

.login-button{
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.login-button:hover {
	color:#777;
}
.menuButton{
	color:#FFF;
}

.toolBar{
	background-color:#F05022;
}

.collectionName{
	font-weight:bold;
	color:#777;
}

.fileName{
	color:#777;
}

.icon{
	color:#F05022;
}

.center{
	color:#FFF;
}

.menuIcon{
	color:#F05022;

}

.backButton{
	color:#F05022;
}

.listHeader{
	color:#FFF;
	background-color:#F05022;
}

.listItem{
	color:#777;
}

.search_box{
	width:100%;
	radius:10%;
	/*border: #777;*/
}

.content_page{
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	left:5%
	transform: translate(-5%);
}

.selector {
	position: fixed;
	bottom: 0;
	height: 40px;
	left: 0;
	width: 100%;
	fill: #1aa9c0;
	float:bottom;
	vertical-align: middle;
	background-color: #1aa9c0;
}


.leftButton{
	float:left;
	width:49%;
	padding-left:5%;
	padding-top:3%;
	color: white;
	vertical-align: middle;
	position:absolute;
}

.rightButton{
	float:right;
	padding-right:5%;
	padding-top:3%;
	color: white;
	vertical-align: middle;
}

.selector{
	background-color: #777;
	text-align: center;
	color: white;
	background-color: #1aa9c0;
}

.renamer{
	display: none;
}

.rename_container{
	padding-top: 310px;
}

.deleter{
	display: none;
}

.delete_container{
	padding-top: 310px;
}

.column_content{
	border-top:2px solid #1aa9c0;
	background: #fff;
	padding: 5px;
	min-height:300px;
	height: 100%;
	width:100%;
}

.pop_up_window{
	position:absolute;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	display: none;
	background: rgba(0,0,0,0.8);
	z-index: 14;
}

.profileImg{
	width: 100px;
	float: left;
}

.profileList{
	float: right;
}

.profileListBut{
	list-style-type: none;
	padding-top:270px;
	display: inline;
	margin: 0 auto;
	position:fixed;
	text-align: center;
	padding-left:90px;
}

.profileBut{
	display:inline;
}

.profileImg{
	display:inline;
	width:60px;
	padding-left:7px;
	padding-right:7px;
}

.profileDets{
	position: fixed;
	float: top;
	margin: 0 auto;
}

.profileTitle{
	float: top;
	left:50%;
}

.renameList{
	list-style-type: none;
}

/*-------------------------*/

.sr{
	font-size: 16px;
}

.sd{
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: thin;
}

