

	  <div class="login-form" align="center" ng-controller="loginCtrl">
        <ons-page>
            
        <ons-toolbar class="toolBar">
            <div class="left">
            </div>
            <div class="center">Log In Header</div>
        </ons-toolbar>

            <input type="text" class="login-input" placeholder="Host" ng-model="login.host" required>
            <input type="text" class="login-input" placeholder="Port" ng-model="login.port" required>
            <input type="text" class="login-input" placeholder="Zone Name" ng-model="login.zone" required>
            <input type="text" class="login-input" placeholder="Username" ng-model="login.userName" required>
            <input type="password" class="login-input" placeholder="Password" ng-model="login.password" required><br>

            <select id="auth" ng-model="login.authType">
                <option value="" disabled selected>Authentication</option>
                <option>Standard</option>
                <option>PAM</option>
            </select>
            <br>
			<br>
            <button modifier="large" class="login-button" ng-click="submitLogin()" prevent-default>Log In</button>
        </ons-page>
        
      </div>
      
      


    

