<div>

    <div class="selector" ng-controller="homeCtrl">

    </div>


    <br>

    <input type="text" id="searchTerm" class="search_box" placeholder="Search your starred collection" onkeyup="doSearch()" />

    <br>
    <br>


    <table id="dataTable" border="0" width="100%" cellspacing="0" cellpadding="5">
        <thead>
            <th ng-hide="true==true">Hidden</th>
        </thead>

        <tbody ng-controller="homeCtrl">
        <tr ng-repeat="name in collectionListing.collectionAndDataObjectListingEntries">
            <td class="sd">
                <label class="sr">
                    <img ng-show="{{name.dataObject}} == true" src="home/img/Icons/data_object_icon.png">
                    <img ng-show="{{name.dataObject}} == false" src="home/img/Icons/collection_icon.png">

                        <span class="collection_object" ng-show="{{name.dataObject}} == false" ng-click="goSubCollection(name.nodeLabelDisplayValue,name.formattedAbsolutePath)">
                                {{name.nodeLabelDisplayValue}}
                        </span>
                        <span class="data_object" ng-show="{{name.dataObject}} == true" ng-click="selectProfile(name.formattedAbsolutePath)">
                                {{name.nodeLabelDisplayValue}}
                        </span>

                </label>
            </td>
        </tr>
        </tbody>
    </table>




</div>