@charset "UTF-8";
/* CSS Document */


.login-form {
	text-align: center;
	width: 80%;
	margin: 60px auto 0;
}

.login-input {
	width: 100%;
	margin: 0 auto;
	outline: none;
	padding-top: 24px;
	padding-bottom:0;
	border-left:none;
	border-right:none;
	border-top:none;
}

.login-button{
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.login-button:hover {
	color:#777;
}
.menuButton{
	color:#FFF;
}

.toolBar{
	background-color:#F05022;
}

.collectionName{
	font-weight:bold;
	color:#777;
}

.fileName{
	color:#777;
}

.icon{
	color:#F05022;
}

.center{
	color:#FFF;
}

.menuIcon{
	color:#F05022;

}

.backButton{
	color:#F05022;
}

.listHeader{
	color:#FFF;
	background-color:#F05022;
}

.listItem{
	color:#777;
}

.search_box{
	margin-top: 40px;
	width:100%;
	radius:10%;

	/*border: #777;*/
}

.content_page{
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	left:5%
	transform: translate(-5%);
}

.selector {
	position: fixed;
	bottom: 0;
	height: 40px;
	left: 0;
	width: 100%;
	fill: #1aa9c0;
	float:bottom;
	vertical-align: middle;
	background-color: #1aa9c0;
}


.leftButton{
	float:left;
	width:49%;
	padding-left:5%;
	padding-top:3%;
	color: white;
	vertical-align: middle;
	position:absolute;
}

.rightButton{
	float:right;
	padding-right:5%;
	padding-top:3%;
	color: white;
	vertical-align: middle;
}

.selector{
	background-color: #777;
	text-align: center;
	color: white;
}

.renamer{
	display: none;
	margin-left:5%;
	padding: 5px;
	height: 100%;
	background-color: #bfbfbf;
	border-radius: 25px;
}

.rename_container{
	padding-top:10px;
}

.deleter{
	position:fixed;
	max-height:150px;
	margin-left:5%;
	display: none;
	width: 70%;
	padding: 5px 5px 0 0;
	background-color: #bfbfbf;
	border-radius: 25px;
	/*transform: translate(0,-700px);*/
}

.delete_container{
	margin-top: 10px;
	/*padding-top:10px;*/
	/*transform: translate(100%,0);*/
}

.delete_header{
	margin-left:5%;
	margin-bottom:2%;
	float:left;

}

.subText{
	font-size: smaller;
}

.column_content{

}

.pop_up_window{
	margin-left: 50px;
	width: 70%;
	align-self: center;
	align-content: center;
	text-align: center;
	display: none;
	/*box-shadow: 5px 5px 5px #888888;*/
	background-color: #bfbfbf;
	z-index: 14;
	position: fixed;
	top: 100px;
	border-radius: 25px;


	-webkit-filter: blur(0px);
	/*-moz-filter: blur(20px);*/
	/*-o-filter: blur(20px);*/
	/*-ms-filter: blur(20px);*/
	filter: blur(0px);
	opacity: 0.9;
}

.popup_button_container{
	bottom: 0;
	width:80%;
	border-radius: 25px;
	transform: translate(5%);
}

.popup_button_cancel{
	margin-top: 0%;
	padding: 2% 70px 2% 70px;
	float: left;
	border-style: solid;
	border: 2px;
	width:50%
}
.popup_button_okay{
	margin-top: 0%;
	padding: 2% 70px 2% 70px;
	float:right;
	border-style: solid;
	border: 2px;
	width:50%;
	color:green;
}

.popup_button_delete{
	margin-top: 0%;
	padding: 2% 70px 2% 70px;
	float:right;
	border-style: solid;
	border: 2px;
	width:50%;
	color: red;
}

.profileImg{
	width: 100px;
	float: left;
}

.profileList{
	/*float: right;*/
	padding-left:70px;
}

.profileListDiv{
	/*padding-left:200px;*/
	/*width: 100%;*/
	/*text-align: center;*/
}

.profileListUL{
	position: static;
	margin-left: 50px;
	text-align: center;
	align-content: center;
	/*position: relative;*/
	/*margin: auto;*/
}

.profileBut{
	display:inline;
}

.profileImg{
	display:inline;
	width:60px;
	padding-left:7px;
	padding-right:7px;
}

.profileDets{
	/*position: fixed;*/
	float: top;
	margin: 0 auto;
}

.profileTitle{
	float: top;
	left:50%;
}

.renameList{
	list-style-type: none;
	margin-right:10%;
}

.sr{
	font-size: 16px;
}

.sd{
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: thin;
}

.dropdown-menu-item{
	font-size: large;
	text-decoration: none;
	padding: 10px;
}

.dropdown-menu-item-anchor{
	text-decoration:none;
}

.filePreview{
	padding-top: 40px;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



