/*header { background-color: #17a288; }*/
body { background-color:#FFFFFF; 
		text-align:center;
		overflow-x: hidden;}
section { align-content:center; }


 

 .wrapper {
	 padding:10px;
	 background-color:#0FF
 }

 html, body {
  font-family: sans-serif;
  overflow-y: scroll;
  overflow-x:hidden;
}
.core-header-panel {
  background: white;
}
.core-toolbar {
  background-color: #1aa9c0;
}





button {
	background-color:#1aa9c0;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-top:12px;
}
	
.menu {
	width: 200px;
	height: 100%;
	left: -200px;
	position: absolute;
	background:#1aa9c0;
	opacity:.98;
	
	
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
	
}

.menu-icon {
	padding: 10px 20px;
	background:#A6A3A3;
	color: #FFF;
	cursor: pointer;
	float: right;
	margin-top:4px;
	border-radius: 5px;
	font-size:24px;
}

#menuToggle:checked ~ .menu { position: absolute; left: 00 }
#menuToggle {display: none;}
#irodslogo {text-align: right;}
















body { font-family: Tahoma, Geneva, sans-serif}
/*a { text-decoration: none; color: #099 }*/
li {list-style-type: none; }

/*header { width: 100%; */
		/*height: auto; */
		/*margin:auto */
		/*border-bottom:1px solid #EEE*/
/*}*/

#brand {
	float: left;
	line-height: 50px;
	color: #0C9;
	font-size: 25px;
	font-weight: bolder;
}
nav { width: 100%; text-align: center; }
nav a {
	display: block; 
	padding: 15px 0;
	border-bottom: 1px solid #FFF;
	color:#FFF;
	text-decoration:none;
}
.nave a:hover { background: #000000; }
nav li:last-child a { border-bottom: none; }
/*-----------------*/
.menu {
	width: 200px;
	height: 100%;
	left: -200px;
	position: absolute;
	background:#1aa9c0;
	
	
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
	
}

.menu-icon {
	padding: 10px 20px;
	background:#1aa9c0;
	color: #FFF;
	cursor: pointer;
	float: left;
	margin-top:4px;
	border-radius: 5px;
	font-size:24px;
}

#menuToggle:checked ~ .menu { position: absolute; left: 00; }
#menuToggle {display: none;}




.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }


#icon-container {
    width: 100%;
    height: 100%;
}

#icon-container div {
    width: 33%;
    height: 33%;
    float: left;
	margin-top:25px;
}

#infoToggle{display:none;}
 
#infoToggle:checked ~ .infoMenu{ position:absolute; right:00;}
